.estate__wrapper {
  .container();
  padding-bottom: 30px;
}

.estate__slider-box {
  display: flex;
  overflow: hidden;
}

.estate__slider-item {
  position: relative;
  outline: none;
}

.estate__slider-title {
  position: absolute;
  top: 185px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 13px 20px;
  min-height: 35px;
  font-size: 14px;
  font-weight: 700;
  line-height: 7px;
  color: @secondary-white;
  background-color: rgba(0, 0, 0, 0.5);
}

.estate__slider-img {
  margin-bottom: 15px;
}

.estate__description-box {
  padding-left: 50px;
}

.estate__address {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  font-style: normal;
  margin-bottom: 20px;
  color: @light-black;

  &>p {
    margin: 0;
  }
}

.estate__address-metro {
  position: relative;

  &::before {
    position: absolute;
    top: -2px;
    left: -25px;
    width: 18px;
    height: 15px;
    content: "";
    background-image: url("../img/metro.svg");
    background-repeat: no-repeat;
    background-size: 18px 15px;
  }
}

.estate__info {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 7px;
  color: @light-black;

  &>p {
    margin: 0;
  }
}

.estate__info-name {
  position: relative;
  &::before {
    position: absolute;
    top: -2px;
    left: -25px;
    width: 18px;
    height: 18px;
    content: "";
    background-image: url("../img/developer_logo.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
  }
}

.estate__info-divider {
  content: "";
  width: 4px;
  height: 4px;
  background-image: url("../img/developer_divider.svg");
  background-repeat: no-repeat;
  background-size: 4px 4px;
  margin: 0 10px;
  align-self: center;
}

.estate__info-phone {
  display: block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  margin-bottom: 20px;
  color: @light-black;
  transition: color 0.5s 0.2s;

  &:hover {
    color: @primary-pink;
  }
}

.estate__btn-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.estate__btn {
  position: relative;
  width: 155px;
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  border-radius: 21px;
  border: none;
  margin-right: 10px;
  padding: 0;
  padding: 14px 30px 13px 50px;
  cursor: pointer;
  color: @primary-pink;
  background-color: rgba(255,240,240, 0.65);

  &:nth-child(even) {
    margin-right: 0;
  }
}

.estate__btn-icon svg {
  fill: @primary-pink;
}

.estate__btn-icon {
  position: absolute;
  top: 12px;
  left: 25px;
}

.estate__slider-prevBtn,
.estate__slider-nextBtn {
  position: absolute;
  top: 110px;
  width: 34px;
  height: 34px;
  content: "";
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  background-color: @primary-white;
  z-index: 1000;
  transition: background-color 0.5s 0.1s;

  &:hover {
    background-color: rgba(255,240,240,0.9);
  }
}

.estate__slider-prevBtn {
  left: 0;
  margin-left: 20px;
  background-image: url("../img/icon-arrow_left.svg");
  background-size: 17px 13px;
  background-repeat: no-repeat;
  background-position: 9px 11px;
  transform: rotateY(360deg);
}

.estate__slider-nextBtn {
  right: 0;
  margin-right: 20px;
  background-image: url("../img/icon-arrow_left.svg");
  background-size: 17px 13px;
  background-repeat: no-repeat;
  background-position: 9px 11px;
  transform: rotateY(180deg);
}

@media (min-width: @tablet-width) {
  .estate__wrapper {
    position: relative;
    padding: 0 30px;
  }

  .estate__btn-box {
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 10000;
  }

  .estate__btn {
    width: 180px;
    font-size: 14px;
    line-height: 10px;
    border-radius: 23px;
    padding: 14px 30px 13px 50px;
    color: #fdfdfd;
    background-color: rgba(29,15,27, 0.65);

    &:nth-child(even) {
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }
  }


  .estate__btn-icon {
    position: absolute;
    top: 9px;
    left: 28px;

    & svg {
      width: 16px;
      height: 18px;
    }

    &--drone svg {
      width: 25px;
      height: 19px;
    }
  }

  .estate__slider-img {
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
  }

  .estate__slider-title {
    top: 350px;
    padding: 20px;
    min-height: 50px;
    font-size: 18px;
  }

  .estate__address>p,
  .estate__info>p,
  .estate__info-phone {
    font-size: 16px;
  }

  .estate__address-metro {
    &::before {
      position: absolute;
      top: -2px;
      left: -45px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
    }
  }

  .estate__info {
    width: 300px;
  }

  .estate__info-name {
    &::before {
      position: absolute;
      top: -2px;
      left: -45px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
    }
  }

  .estate__slider-prevBtn,
  .estate__slider-nextBtn {
    top: 200px;
  }
}

@media (min-width: @desktop-width) {
  .estate__wrapper {
    padding: 0;
  }

  .estate__slider-box {
    position: absolute;
    top: -175px;
    right: 0;
    width: 1005px;
    z-index: 1000;
  }

  .estate__slider-title {
    top: 510px;
    min-height: 100px;
    font-size: 36px;
    line-height: 19px;
    padding: 35px 30px;
  }

  .estate__slider-img {
    height: 610px;
  }

  .estate__btn-box {
    top: -150px;
    left: 400px;
    z-index: 10000;
  }

  .estate__btn {
    margin-right: 30px;
  }

  .estate__description-box {
    position: relative;
    display: flex;
    padding-left: 250px;

    &::before {
      position: absolute;
      top: 0;
      left: 20px;
      width: 18px;
      height: 26px;
      cursor: pointer;
      content: "";
      background-image: url("../img/icon-placeholder.svg");
      background-size: 18px 26px;
    }
  }

  .estate__address {
    width: 350px;
    margin-right: 45px;
    font-size: 16px;
    line-height: 19px;
  }

  .estate__info {
    width: 350px;
    font-size: 16px;
    line-height: 19px;
  }

  .estate__slider-prevBtn,
  .estate__slider-nextBtn {
    top: 300px;
  }
}
/*.estate {
  .container();
  display: flex;
  position: relative;
  min-height: 550px;
  background-color: #f4f4f4;
}

.estate__wrapper {
  top: 0;
  left: 0;
  width: 355px;
}

.estate__features {
  position: relative;
  width: 355px;
  min-height: 550px;

  &::before {
    position: absolute;
    top: 140px;
    left: -175px;
    width: 100%;
    height: 300px;
    content: "";
    background-color: @primary-pink;
  }
}

.estate__features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 235px;
  padding-top: 40px;
  background-color: transparent;
}


.estate__features-hint {
  position: absolute;
  top: 5px;
  left: 60px;
  max-width: 185px;
  padding: 15px 10px 10px 25px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: @primary-black;
  background-image: url("../img/hint_box.svg");
  background-size: 185px 100%;
  z-index: 10000;
  display: none;
}

.estate__features-item {
  position: relative;
  width: 55px;
  height: 55px;
  margin-bottom: 27px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &--sale {
    background-color: #ff833d;
    border: 5px solid #ff833d;
    transition: background-color 1s 0.2s ease;

    &:hover .estate__features-hint {
      display: block;
      animation: showHint 0.7s ease;
    }
  }

  &--deal {
    background-color: #86d3ff;
    border: 5px solid #86d3ff;
    transition: background-color 1s 0.2s ease;

    &:hover .estate__features-hint {
      display: block;
      animation: showHint 0.7s ease;
    }
  }

  &--gift {
    background-color: #66cf6a;
    border: 5px solid #66cf6a;
    transition: background-color 1s 0.2s ease;

    &:hover .estate__features-hint {
      display: block;
      animation: showHint 0.7s ease;
    }
  }

  &--decor {
    background-color: #6677cf;
    border: 5px solid #6677cf;
    transition: background-color 1s 0.2s ease;

    &:hover .estate__features-hint {
      display: block;
      animation: showHint 0.7s ease;
    }
  }

  &--conditions {
    background-color: #c368da;
    border: 5px solid #c368da;
    transition: background-color 1s 0.2s ease;

    &:hover .estate__features-hint {
      display: block;
      animation: showHint 0.7s ease;
    }
  }

  &:hover {
    background-color: transparent;
  }
}

.estate__features-item svg{
  fill: @primary-white;
  transition: fill 0.3s 0.2s;
}

.estate__features-item--sale:hover svg{
  fill: #ff833d;
}

.estate__features-item--deal:hover svg{
  fill: #86d3ff;
}

.estate__features-item--gift:hover svg{
  fill: #66cf6a;
}

.estate__features-item--decor:hover svg{
  fill: #6677cf;
}

.estate__features-item--conditions:hover svg{
  fill: #c368da;
}

@keyframes showHint {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;}
  }
*/
