.feedback__wrapper {
  .container();
  padding: 0 20px;
}

.feedback__title {
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  margin: 0;
  color: @primary-black;
  margin-bottom: 20px;
}

.feedback__toggler {
  display: flex;
  margin: 0 auto;
  width: 300px;
  border-radius: 17px;
  margin-bottom: 35px;
  background-color: @secondary-white;
}

.feedback__toogle-link {
  width: 100%;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid @primary-pink;
  transition: box-shadow 0.5s 0.2s;
  color: @primary-pink;
  background-color: @secondary-white;

  &:hover {
    box-shadow: 0 0 10px @primary-pink;
  }

  &:active {
    opacity: 0.8;
  }
}

.feedback__toogle-link--estate {
  border-radius: 17px 0 0 17px;
}

.feedback__toogle-link--developer {
  border-radius: 0 17px 17px 0;
}

.feedback__toogle-link--active {
  color: @secondary-white;
  background-color: @primary-pink;
}

.feedback__inner {
  display: flex;
  flex-direction: column;
}

.feedback__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.feedback__container {
  display: flex;
  margin-bottom: 20px;
}

.feedback__author-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.feedback__avatar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @light-pink;
}

.feedback__author {
  position: relative;
  width: 200px;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  color: @primary-black;
}

.feedback__time {
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  color: @primary-grey;
}

.feedback__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
  color: @light-black;
}

.feedback__add-button { // использовать миксины
  width: 300px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  padding: 0;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: @primary-pink;
  background-color: @light-pink;
}

.feedback__unfurl-link {
  margin-bottom: 30px;
  .unfurl-link();

  &:hover,
  &focus {
    .unfurl-link__hover();
  }
}

.feedback__unfurl-icon {
  .unfurl-icon();
}

.feedback__buttons { // ??
  display: none;
}

@media (min-width: @tablet-width) {
  .feedback__wrapper {
    padding: 0 30px;
  }

  .feedback__title {
    font-size: 18px;
    line-height: 22px;
  }

  .feedback__text {
    font-size: 14px;
    line-height: 19px;
  }

  .feedback__author {
    font-size: 14px;
  }

  .feedback__time {
    font-size: 12px;
    line-height: 24px;
  }

  .feedback__avatar-box {
    width: 75px;
    height: 75px;
  }

  .feedback__avatar {
    width: 22px;
    height: 27px;
  }

  .feedback__toggler {
    width: 400px;
    border-radius: 25px;
    margin-bottom: 40px;
  }

  .feedback__toogle-link {
    font-size: 16px;
    line-height: 28px;
    border: 2px solid @primary-pink;
  }

  .feedback__toogle-link--estate {
    border-radius: 25px 0 0 25px;
  }

  .feedback__toogle-link--developer {
    border-radius: 0 25px 25px 0;
  }
}

@media (min-width: @desktop-width) {
  .feedback__wrapper {
    padding: 0 75px;
  }

  .feedback__title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
  }

  .feedback__text {
    font-size: 15px;
    line-height: 22px;
  }

  .feedback__author {
    font-size: 16px;
  }

  .feedback__time {
    font-size: 14px;
    line-height: 24px;
  }

  .feedback__avatar-box {
    width: 100px;
    height: 100px;
  }

  .feedback__avatar {
    width: 28px;
    height: 34px;
  }

  .feedback__toggler {
    width: 450px;
    margin-bottom: 60px;
  }

  .feedback__toogle-link {
    font-size: 18px;
    line-height: 32px;
  }

  .feedback__inner {
    padding: 0 70px;
  }
}
