.progress__wrapper {
  .container();
  display: flex;
  flex-direction: column;
  padding: 0 20px 40px;
}

.progress__title {
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  margin: 0;
  margin-bottom: 20px;
  color: @primary-black;
}

.progress__form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.progress__form-select {
  width: 155px;
  margin-right: 10px;
  cursor: pointer;
  min-height: 35px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  padding-left: 15px;
  border: 1px solid @primary-grey;
  color: @primary-black;
  background-color: @primary-white;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.progress__image {
  margin-bottom: 10px;
}

@media(min-width: @tablet-width) {
  .progress__wrapper {
    padding: 0 40px 60px;
  }

  .progress__title {
    font-size: 18px;
    line-height: 24px;
  }

  .progress__image {
    margin-bottom: 20px;
  }

  .progress__gallery picture {
    margin-right: 20px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

@media(min-width: @desktop-width) {
  .progress__wrapper {
    padding: 0 75px 80px;
  }

  .progress__title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 25px;
  }

  .progress__form {
    margin-bottom: 40px;
  }

  .progress__image {
    width: 280px;
    height: 190px;
    margin-bottom: 30px;
  }

  .progress__gallery picture {
    margin-right: 30px;
  }
}
/*.progress {
  .container();
}

.progress__wrapper {
  padding: 75px;
  display: flex;
  flex-direction: column;
}

.progress__title {
  width: 480px;
  color: @primary-black;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 25px;
}

.progress__gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.progress__gallery-image {
  margin-right: 30px;
  margin-bottom: 30px;
}

.progress__gallery-image:nth-child(4n) {
  margin-right: 0;
}

.progress__unfurl-link {
  position: relative;
  margin-bottom: 10px;
}

.progress__unfurl-icon {

}

.progress__unfurl-link:hover {

}


.progress__form-select {
  position: relative;
  width: 175px;
  border-radius: 4px;
  border: 1px solid @primary-grey;
  text-transform: capitalize;
  padding: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  appearance: none;
  color: @primary-black;
  background-color: #ffffff;

  &::after { //temp
    position: absolute;
    top: 50%;
    right: 0;
    width: 13px;
    height: 8px;
    content: "";
    background-image: url("../img/icon-up.svg");
    background-repeat: no-repeat;
    background-size: 13px 8px;

  }
}*/
