.rating {
  .container();
}

.rating__wrapper {
  padding: 0 75px;
}

.rating__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 50px;
  color: @primary-black;
}

.rating-elaboration {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 55px;
  color: @primary-black;
}

.rating__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 65px;
  overflow: hidden;
}

.rating__list-item {
  width: 140px;
  font-size: 15px;
  font-weight: 600;
  line-height: 32px;
  margin-right: 70px;
  color: @light-black;
  text-align: center;
  transform: translateY(250px);

  &:last-child {
    margin-right: 0;
  }
}

.rating__list-item-animation {
  animation: showRatingItem 1.5s;
  transform: translateX(0);
}

@keyframes showRatingItem {
  from {transform: translateY(150px)};
  to {
    transform: translateY(0)
  }
}

.rating__list-figure { //  ?!?!
  display: block;
  position: relative;
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: transparent;

  &--kids {
    border: 6px solid #e94646;
  }

  &--infrastructure {
    border: 6px solid #ff833d;
  }

  &--district {
    border: 6px solid #86d3ff;
  }

  &--safety {
    border: 6px solid #66cf6a;
  }

  &--transport {
    border: 6px solid #6677cf;
  }

  &--house {
    border: 6px solid #c368da;
  }
}

.rating__average-box {
  width: 100%;
  display: flex;
}

.rating__average {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: @light-black;

  &-rating {
  }

  &-building {
    display: block;
  }
}

.rating__average-line {
  width: 100%;
  height: 1px;
  align-self: center;
  background-color: @primary-black;

  &--left {
    margin-right: 40px;
  }

  &--right {
    margin-left: 40px;
  }
}

.rating__average-value {
  width: 70px;
  height: 55px;
  font-size: 32px;
  font-weight: 700;
  border-radius: 4px;
  margin-left: 40px;
  align-self: center;
  padding: 10px;
  background-color: @primary-pink;
  color: @secondary-white;
}
