.review__wrapper {
  .container();
  padding: 0 20px 60px;
  display: flex;
  flex-direction: column;
}

.review__title {
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  margin: 0;
  color: @primary-black;
  margin-bottom: 15px;
}

.review__video-box,
.review__photo-box {
  margin-bottom: 30px;
}

.review__item {
  position: relative;
}

.review__item > img {
  width: 320px;
  height: 220px;
}

.review__item iframe {
  width: 320px;
  height: 220px;
}

.review__description-box {
  position: absolute;
  bottom: 5px;
  left: 0;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  color: @secondary-white;
}


.video__controls { // доделать
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  padding: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: @tablet-width) {
  .review__wrapper {
    padding: 0 30px 40px;
  }

  .review__title {
    font-size: 18px;
    line-height: 20px;
  }

  .review__item img {
    width: 708px;
    height: 400px;
  }

}

@media (min-width: @desktop-width) {
  .review__wrapper {
    padding: 0 75px 80px;
  }

  .review__title {
    font-size: 22px;
    line-height: 19px;
    margin-bottom: 50px;
  }

  .review__photo-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .review__item {
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .review__description-box {
    display: none;
  }

  .review__item img {
    width: 280px;
    height: 190px;
  }

  .review__show-btn {
    display: block;
  }

  .review__btn {
    width: 345px;
    margin-bottom: 40px;
  }
}
