.container() {
  width: 320px;

  margin: 0 auto;

  @media(min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media(min-width: @desktop-width) {
    width: @desktop-width;
  }
}


.title-style {
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  margin: 0;
  color: @primary-black;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 22px;
    line-height: 19px;
  }
}

.text-style {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
  color: @light-black;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 19px;
  }

  @media (min-width: @desktop-width) {
    font-size: 15px;
    line-height: 22px;
  }
}

.unfurl-link() {
  position: relative;
  font-size: 11px;
  font-weight: 400;
  text-decoration: underline;
  color: @primary-pink;
  background: transparent;
  align-self: center;
  transition: opacity 0.5s 0.1s;

  @media(min-width: @desktop-width) {

    font-size: 16px;
    line-height: 32px;
    text-decoration: underline;
  }
}

.unfurl-icon() {
  display: block;
  position: absolute;
  top: 50%;
  right: -15px;
  content: "";
  width: 5px;
  height: 4px;
  background-image: url("../img/unfurl.png");
  background-repeat: no-repeat;
  background-size: 5px 4px;

  @media (min-width: @desktop-width) {
    width: 8px;
    height: 5px;
    background-size: 8px 5px;
  }
}

.unfurl-link__hover {
  opacity: 0.8;
}

.pink-btn {
  width: 345px;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.18px;
  text-decoration: none;
  padding: 25px 60px;
  border-radius: 35px;
  color: @button-white;
  background-color: @primary-pink;
  align-self: center;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.5s 0.1s, color 0.5s 0.4s, box-shadow 0.5s 0.1s;
}

.pink-btn__hover {
  opacity: 0.9;
  color: @primary-black;
  box-shadow: 0 2px 5px @primary-black;
}

.light-btn {
  width: 345px;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.18px;
  text-decoration: none;
  padding: 25px 20px;
  border-radius: 35px;
  align-self: center;
  text-align: center;
  color: @primary-pink;
  background-color: @light-pink;
  transition: background-color 0.7s 0.1s, color 0.5s 0.4s, box-shadow 0.5s 0.1s;
}

.light-btn__hover {
  color: @primary-white;
  background-color: @primary-pink;
  box-shadow: 0 2px 5px @primary-black;
}
