@desktop-width: 1360px;
@tablet-width: 768px;


@primary-black: #000000;
@primary-pink: #e94646;
@primary-white: #ffffff;
@primary-grey: #929292;

@secondary-white: #fefefe;
@secondary-black: #1d0f1b;
@secondary-grey: #f0f0f0;

@light-black: #010101;
@light-pink: #fff0f0;

@icon-orange: #ff833d;;
@icon-lightblue: #86d3ff;;
@icon-green: #66cf6a;;
@icon-blue: #6677cf;;
@icon-violet:#c368da;;


@button-white: #fffefe;
@footer-black: #16151d;
